# Write a program to fetch the item only within range between 50 to 70.

In [2]:
lst=[34,67,55,33,12,98]
for i in lst:
    if i>50 and i<70:
        print(i)

67
55

# Write a program to print only string data type value.

In [20]:
lst=['abc', 100, 10.10, True, 'Babu']
for i in lst:
    if ('str' in str(type(i))):
        print(i)

abc
Babu

# Write a program to replace only string values as none

In [10]:
lst=['abc',100,10.10,True,'Babu']
lst1=[]
for i in lst:
    if type(i) == type('str'):
        lst1.append(None)
    else:
        lst1.append(i)
lst=lst1
print(lst)

[None, 100, 10.1, True, None]

# Write a program which accepts a sequence of comma-seperated numbers from console and generate a list
# and a tuple which contains every number

In [30]:
a = 34,67,55,33,12,98
lst=list(a)
Tpl=tuple(lst)
print(lst)
print(Tpl)

[34, 67, 55, 33, 12, 98]
(34, 67, 55, 33, 12, 98)

# Write a program to print first half values in one line and the second half values in one line.

In [25]:
a=(1,2,3,4,5,6,7,8,9,10)
b=a[:5]
c=a[5:]
print(b)
print(c)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

# Write a program to generate and print another tuple whose values are even numbers in given tuple

In [1]:
tpl=(1,2,3,4,5,6,7,8,9,10)
lst=list()
for i in tpl:
    if (tpl[i-1])%2 == 0:
        lst.append(tpl[i-1])
tpl1=tuple(lst)
print(tpl1)

(2, 4, 6, 8, 10)

In [76]:
mylist=[1,2,3,4,2,2,3,1,4,4,4,5,5,6,7,6,5]

for i in mylist:
    if mylist.count(i)>mylist[i]:
        print(i)

4
4
4
4
5
5
5

# Write code to insert letter 'a' in between each letter to get 'papaya!'

In [30]:
a = 'ppy!'
print(a[0]+'a'+a[1]+'a'+a[2]+'a'+a[3])

papaya!